---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import Features2 from '~/components/widgets/Features2.astro';
import Features from '~/components/widgets/Features.astro';
import Stats from '~/components/widgets/Stats.astro';
import Features3 from '~/components/widgets/Features3.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Brands from '~/components/widgets/Brands.astro';
import Contact from '~/components/widgets/Contact.astro';
import Note from '~/components/widgets/Note.astro';

const metadata = {
  title: 'Kodeloom — Software solutions for your business',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Contact Us Today',
        href: '/contact-us',
      },
    ]}
  >
    <Fragment slot="title">
      Boost your digital presence of your <span class="text-secondary dark:text-accent highlight">Business</span> with Kodeloom
    </Fragment>

    <Fragment slot="subtitle">
      Kodeloom Software Solutions is your trusted partner in creating impactful online presence. As a leading web design
      and development company, we specialize in crafting tailored solutions that boost your brand and drive your
      business forward.
    </Fragment>

    <!-- <Fragment slot="image">
      <YouTube id="gxBkghlglTg" title="Astro just Launched.... Could it be the ultimate web framework?" />
      <style is:inline>
        lite-youtube {
          margin: 0 auto;
          max-width: 100%;
        }
      </style>
    </Fragment> -->
  </Hero>

  <!-- <Note /> -->

  <!-- Stats Widget ****************** -->

  <!-- <Stats
    title="Discover the impressive impact of Astrowind"
    subtitle="The numbers below reflect the trust our users have placed in us and the remarkable outcomes we've helped them achieve."
    stats={[
      { title: 'Downloads', amount: '182K' },
      { title: 'Websites Launched', amount: '87' },
      { title: 'User Ratings', amount: '4.8' },
      { title: 'Satisfied Clients', amount: '116K' },
    ]}
  /> -->

  <!-- Features2 Widget ************** -->

  <Features2
    id="services"
    title="Our Services"
    subtitle="From custom website development to robust e-commerce solutions, SEO services, and seamless website hosting and maintenance, explore our comprehensive range of services tailored to meet your business needs."
    items={[
      {
        title: 'Web Development',
        description:
          'Responsive, stunning and user-friendly websites. Boost your online presence with our web development services.',
        icon: 'tabler:device-desktop-code',
      },
      {
        title: 'SEO Services',
        description:
          'Increase your search engine rankings and dirve organic traffic to your business. Our SEO strategies ensure your website gains the visibility it deserves.',
        icon: 'tabler:seo',
      },
      {
        title: 'E-Commerce Solutions',
        description:
          'Drive up your online sales with our customized e-commerce solutions. From seamless shopping experiences to secure payment gateways, we empower your digital storefront for success.',
        icon: 'tabler:garden-cart',
      },
      {
        title: 'Custom Website Development',
        description:
          'We specialize in creating websites tailored to your unique business needs. From concept to launch, we ensure your website stands out with cutting-edge technologies and innovative design.',
        icon: 'tabler:device-desktop-analytics',
      },
      {
        title: 'Business Automation',
        description:
          'Cutting-edge automation solutions to streamline your business processes. From automating reports to optimizing workflows, our automation services enhance efficiency within your business.',
        icon: 'tabler:automation',
      },
      {
        title: 'Website Hosting and Maintenance',
        description:
          'Our comprehensive hosting and maintenance services ensure your website remains sercure, updated and performing at its best, so you can focus on what matter most - growing your business.',
        icon: 'tabler:server-2',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="Main features of our templates"
    subtitle="Possess several key characteristics to effectively cater to the needs of startups and entrepreneurs."
    columns={3}
    items={[
      {
        title: 'Modern and Professional Design',
        description:
          'Have a contemporary design that reflects current design trends and gives a professional impression.',
        icon: 'tabler:artboard',
      },
      {
        title: 'Responsive and Mobile-Friendly',
        description: 'Adapt seamlessly to different screen sizes and devices to ensure a consistent experience.',
        icon: 'tabler:picture-in-picture',
      },
      {
        title: 'Customizability',
        description:
          'Easily customizable, allowing users to adapt the design, colors, typography, and content to match their brand identity.',
        icon: 'tabler:adjustments-horizontal',
      },
      {
        title: 'Fast Loading Times',
        description: 'Optimized for speed to ensure a smooth user experience and favorable search engine rankings.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Search Engine Optimization (SEO)',
        description:
          'Incorporate SEO best practices in template structure and code to improve visibility in search engine results.',
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Compatibility',
        description: 'The templates work seamlessly across various content management systems and website builders.',
        icon: 'tabler:plug-connected',
      },
    ]}
  />

  <!-- <Brands
    title="Partnerships & Collaborations"
    subtitle="At Astrowind, we believe in the power of collaboration to drive innovation and create exceptional experiences."
    icons={[]}
    images={[
      {
        src: 'https://cdn.pixabay.com/photo/2015/05/26/09/37/paypal-784404_1280.png',
        alt: 'Paypal',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2021/12/06/13/48/visa-6850402_1280.png',
        alt: 'Visa',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2013/10/01/10/29/ebay-189064_1280.png',
        alt: 'Ebay',
      },

      {
        src: 'https://cdn.pixabay.com/photo/2015/04/13/17/45/icon-720944_1280.png',
        alt: 'Youtube',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2013/02/12/09/07/microsoft-80658_1280.png',
        alt: 'Microsoft',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2015/04/23/17/41/node-js-736399_1280.png',
        alt: 'Node JS',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2015/10/31/12/54/google-1015751_1280.png',
        alt: 'Google',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2021/12/06/13/45/meta-6850393_1280.png',
        alt: 'Meta',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2013/01/29/22/53/yahoo-76684_1280.png',
        alt: 'Yahoo',
      },
    ]}
  /> -->

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    items={[
      {
        title: 'What are landing page templates?',
        description:
          'Landing page templates are pre-designed web page layouts that are specifically created to serve as a foundation for building effective landing pages. These templates are designed to capture the attention of visitors and guide them towards a specific action or goal, such as signing up for a newsletter, making a purchase, or downloading a resource.',
      },
      {
        title: 'Why should I use a template?',
        description:
          'Some of the advantages are that they provide a ready-to-use structure,  saving you significant time. Are designed with user-friendliness in mind and provide a cost-effective alternative, saving you money while still delivering a quality result.',
      },
      {
        title: 'Can I preview templates before buying?',
        description:
          'Yes, the templates allow you to preview them before making a purchase. There is a "Demo" button associated with each template.',
      },
      {
        title: 'Do I need technical skills to use a template?',
        description:
          'Advanced technical skills are not required to use a template, but having a basic understanding of web navigation and familiarity with using online tools can still be beneficial. If you have more specific customization needs, you might need to consult guides or reach out to customer support for assistance.',
      },
      {
        title: 'Can I use the template on multiple websites?',
        description:
          'No, the template comes with a single-use license, meaning you can use the template on one website or project only. Using the template on additional websites would require purchasing additional licenses.',
      },
      {
        title: 'What if I need help with customization?',
        description:
          "The templates provides a comprehensive step-by-step guide that walk you through the customization process. If you still have doubts, you can reach out to our customer support team. They can answer your questions, provide guidance on customization, and address any issues you're facing.",
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <Contact
    id="contact-us"
    title="Get in touch"
    subtitle="Ready to get started? Send us a message now, and let's make it happen!"
    inputs={[
      {
        type: 'text',
        name: 'name',
        label: 'Name',
        placeholder: 'Name',
        autocomplete: 'Name',
      },
      {
        type: 'email',
        name: 'email',
        label: 'Email',
        placeholder: 'john@your-business.com',
        autocomplete: 'email',
      },
      {
        type: 'text',
        name: 'subject',
        label: "Service you're interesd in",
        placeholder: 'E-Commerce development',
      },
    ]}
    textarea={{
      label: 'Message',
      name: 'message',
    }}
    description="We will get back to you within 24 hours."
  />

  <Features2
    items={[
      {
        title: 'Phone',
        description: '+1 (949) 529-1757',
        icon: 'tabler:headset',
      },
      {
        title: 'Email',
        description: 'info@kodeloom.com',
        icon: 'tabler:mail',
      },
      {
        title: 'Location',
        description: 'Riverside, CA, US',
        icon: 'tabler:map-pin',
      },
    ]}
  />
</Layout>
